.header {
    color: $color-white;
    position: relative;
}
.nav {
    // .nav__list
    background: $color-grey;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        justify-content: space-between;
        padding: 8px 70px;
        font-weight: 300;
        font-size: 15px;
        line-height: 15px;
    }

    // .nav__item

    &__item {
        padding: 9.5px;
        padding-right: 27px;
        text-align: center;
        &:not(:last-child) {
            border-right: 2px dotted $color-black;
        }
    }

    // .nav__link

    &__link {
        text-decoration: none;
        color: $color-white;
    }
}

.logo {
    // .logo__img
    background-color: $color-black-alpha;
    padding: 17px 0;
    position: absolute;
    width: 100%;

    &__img {
    }

    // .logo__text-logo

    &__text-logo {
        font-weight: 100;
        font-size: 13px;
        line-height: 100%;
        margin-top: 5px;
    }
    &__text-tel {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: end;
    }
    // .logo__tel

    &__tel {
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        text-align: end;
        text-decoration: none;
        color: inherit;
        margin-top: 6px;
        display: block;
    }

    // .logo__btn

    &__btn {
    }
}
